@tailwind base;
@tailwind components;
@tailwind utilities;

.element {
    width: 100%;
    /* max-width: 902px; */
    height: 0;
    padding-top: 49.66%; /* 493 / 902 * 100 to maintain aspect ratio */
    position: relative;
    background: url('../assets/g1.png') 50% 50% / cover no-repeat;
    border-radius: 30px;
    background-position: center center;
}

.shady{
    background: url('../assets/g1.png') linear-gradient(0deg, #070A1F 0%, rgba(33, 40, 104, 0.00) 78.9%);
    
}

@media only screen and (min-width: 768px){
    .inner-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}